<div class="container">
    <div class="row mt-5">
      <div class="col-md-12">
        <h3 class="font-weight-bold orange-text" style="font-family: Oswald, sans-serif, Arial, sans-serif; ">TOP PRODUCTS</h3>
      
      </div>
    
      <div class="col-md-4 ">
            <div class="_img">
              <img src="/image/meat.jpg" class="img-fluid _img_cat_border">
              <div class="text">
                <h4 class="font-weight-bold bg-warning text-white">Meat</h4>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="_img">
            <img src="/image/vegetable.jpg" class="img-fluid _img_cat_border">
            <div class="text">
              <h4 class="font-weight-bold bg-warning text-white">Vegetable</h4>
          </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="_img">
            <img src="/image/bakery.jpg" class="img-fluid _img_cat_border">
            <div class="text">
              <h4 class="font-weight-bold bg-warning text-white">Bakery</h4>
          </div>
          </div>
      </div>
  </div>
</div>